
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*BODY */
body {
  background-color: #f4f6f8;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
}

button:hover {
  background-color: #4338ca;
}

/* MENSAJES */
#mensaje {
  color: #dc2626;
  margin-top: 10px;
}

/* LISTA */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BOTONES*/
li button {
  margin-left: 10px;
  background-color: #64748b;
}

li button:hover {
  background-color: #475569;
}

/*EDITAR */
#titulo-editar {
  margin-top: 20px;
}

#btn-guardar {
  background-color: #16a34a;
}

#btn-guardar:hover {
  background-color: #15803d;
}

/*TOTAL */
#total {
  margin-top: 15px;
  font-weight: bold;
}
